<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FoodTemperature</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>food.com.services.Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addsupervisor</display-name>
    <servlet-name>Addsupervisor</servlet-name>
    <servlet-class>food.com.services.Addsupervisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addsupervisor</servlet-name>
    <url-pattern>/Addsupervisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supervisorlogin</display-name>
    <servlet-name>Supervisorlogin</servlet-name>
    <servlet-class>food.com.services.Supervisorlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supervisorlogin</servlet-name>
    <url-pattern>/Supervisorlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicle</display-name>
    <servlet-name>AddVehicle</servlet-name>
    <servlet-class>food.com.services.AddVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicle</servlet-name>
    <url-pattern>/AddVehicle</url-pattern>
  </servlet-mapping>
</web-app>